@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
  font-family: NanumGothic-Regular;
  src: url(../font/NanumGothic-Regular.ttf);
}

@font-face {
  font-family: NanumGothic-Bold;
  src: url(../font/NanumGothic-Bold.ttf);
}
body {
  font-family: NanumGothic-Regular, 'sans-serif';
  width: 100%;
}
 
h1 {
  font-family: NanumGothic-Bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

canvas {
  position: relative;
}

.main-container {
  position: relative;
  width:100%;
}

.hidden {
  opacity: 0;
}

.clear {
  clear: both;
}
.one-third {
  width: 33.3333%;
  text-align: center;
  float: left;
}

.one-half {
  width: 50%;
  float: left;
  position: relative;
  height: 100%;
}

/**** HERO *****/
.hero {
  height:700px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.hero img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}

.hero p {
  color: white;
  font-family:'Nanum Gothic';
  font-size: 22px;
  letter-spacing: 0.75px;
}

#blurb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  mix-blend-mode: screen;
  z-index: 5;
}

#hero-background {
  width: 120%;
  height: 120%;
  background-image:url('../images/hero-background.png');
  background-size: cover;
  background-attachment: fixed;
}


/**** RESULTS *****/
.results {
  opacity:0;
  height: auto;
  position: relative;
  padding: 30px 0px;
  width: 90%;
  margin: 0 auto;
}

.results img {
  max-height: 110px;
  max-width: 100%;

}
.results-container {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

/**** OVERVIEW *****/
.overview-section {
  opacity: 0;
  padding: 100px 0;
  height: auto;
  background: #1184C2;
  background-image: linear-gradient(-126deg, #965DE2 0%, #1184C2 70%);
  position: relative;
  overflow: hidden;
}

.overview-section img {
  width: 120%;
  transform: translateY(100%);
}

.description {
  transform: translateY(100%);
  width: 80%;
  color: white;
  font-size: 16px;
  line-height: 27px;
  position: relative;
  margin: 0 auto;
  letter-spacing: 0.4px;
}

.disclaimer {
  color: white;
  font-size: 13px;
  width: 80%;
  position: absolute;
  bottom: 20px;
  left: 5%;
}


/**** HOW IT WORKS *****/
.how-it-works {
  position: relative;
  width: 85%;
  margin: 0 auto;
  color: #5A0BC3;
  height: 1600px;
  opacity: 0;
}


.how-it-works h1 {
  font-size: 33px;
}

.stage {
  width: 30%;
  position: relative;
  display: table;
  height: 300px;
}

.stage div {
  display: table-cell; vertical-align: middle;
}

.stage h2 {
  font-size: 20px;
  font-family: NanumGothic-Bold;
  text-transform: uppercase;
}

.stage p {
  color:#383838;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

#stage1 {
  left: 0px;
}

#stage2 {
  float: right;
  opacity: 0;
}
#stage3 {
  float:left;
  opacity:0;
}

#stage4 {
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

#line1 {
  width: 65%;
  height: 300px;
  float:left;
  opacity:0;
}

#line2 {
  float: right;
  width: 60%;
  height: 300px;
  opacity:0;
}

#line3 {
  width: 100%;
  height: 150px;
  float: left;
  opacity: 0;
}

.order-button {
  padding: 10px 0px;
  width: 50%;
  background-color: #5A0BC3;
  color: white;
  text-align: center;
  border-radius: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 500;
}


/**** TESTIMONIALS *****/
.testimonials-section {
  position: relative;
  width: 100%;
  background: #39DCB5;
  background-image: linear-gradient(-147deg, #6AF0DB 19%, #3DA9E4 100%);
  height: auto;
}

.testimonials-section h1 {
  color: white;
  font-weight: 300;
}

.testimonial {
  position: relative;
  margin: 0 auto;
  width: 75%;
  text-align: center;
  padding-top:20px;
}

.bubble {
  position: relative;
  background-color: white;
  padding: 30px 70px;
  border-radius: 200px;
  color: #383838;
  line-height: 24px;
  font-size: 16px;
  font-weight: 100;
  transform: scale(0,0);
}

.bubble:before {
  left: 50%;
  transform: translateX(-50%);
  content: '';
  position: absolute;
  width: 0;
  height: 0; 
  bottom: -15px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 16px solid #FFF; 
}

.testimonial-icon {
  margin-top: 30px;
  max-width: 110px;
  height: auto;
  box-shadow: 0px 5px 5px 0px rgba(17, 132, 194, 0.7);
  border-radius: 100%;
}
.testimonial-name {
  font-weight: 400;
  color: white;
}


/**** FOOTER *****/
.footer-links {
  text-align: center;
  padding: 25px 0px;
}

.footer-links a {
  color: #383838;
  text-decoration: none;
  padding: 0px 25px;
}


/**** TABLET *****/
@media (max-device-width: 800px) {
  .one-half {
    width: 100%;
  }
  .overview-section {
    padding: 50px 0px;
  }
  .overview-section img {
    margin-left: -5%;
  }
}

/**** SMART PHONE *****/
@media (max-device-width: 700px) {
  .one-third {
    width: 100%;
  }

  #blurb {
    width: 90%;
  }

  .results img {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .disclaimer {
    bottom: 10px;
  }

  .how-it-works {
    height: auto;
  }

  .stage {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  #stage2 {
    opacity: 1;
  }

  #stage3 {
    opacity: 1;
  }

  #stage4 {
    opacity: 1;
  }

  .line {
    display: none;
  }

  canvas {
    display: none;
  }

  .order-button {
    position: relative;
    width: 80%;
  }

  .testimonial {
    width: 95%;
  }

  .bubble {
    padding: 30px;
  }

  .footer-links a {
    padding: 0 5px;
  }

}